<div class="author">
    <h1 class="articles_heading">search result</h1>
</div>

<section class="articles">

    <ul class="article-ul">
 
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id%>">
                <span><%= post.title  %></span>
                <span class="article-list_date"><%= post.createdAT %></span>
            </a>
        </li>
        <% }) %>
                </ul>
</section>